@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
}

/* Le agrego un backgraund color al BODY y un displey flex para centrar el SECTION */

body{
    background: radial-gradient(RGB(229 229 229), RGB(239 238 238));
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

/* Le agrego un margin al SECTION */
section{
    margin: 50px;
}


/* COMIENZO DE CAJA UNO */

/* Le aplico un borde en color rojo a la caja en general para guiarme*/ 

.contenedor-uno{
    border: solid red 2px;
    background-color: #F8F9F8;
    border-radius: 18px;
    padding: 13px;
    height: 300px;
    width: 250px;
    font-family: "Roboto", sans-serif;
}

.contenedor-perfil{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    
}
.contenedor-img-nombre{
    display: flex;
    flex-direction: row;
    
}

/* Estilizo el icono dentro de la etiqueta contenedora img-nombre*/
.contenedor-img-nombre i{
    border-radius: 50%;
    margin: 8px;
    padding: 10px;
    background-color: rgb(66, 66, 202);
    color: white;
}
/* Nombre de perfil */
.nombrecompleto{
    font-weight: 500;
    font-size: 14px;
    padding-top: 8px;
}

/* Botón de corazon */
.corazon{
    background-color: #f7f9f9;
    border: solid #ced0d1 1px;
    border-radius: 7px;
    padding: 6px;
}

/* Etiquetas <p> en tono Gris */

.contenedortextoclaro{
    font-weight: 400;
    font-size: 11px;
    padding-top: 5px;
    color: #a9a9a9;
}

.textopublicacion{
    font-weight: 400;
    font-size: 15px;
    padding-top: 10px;
    
}
.dos{
    padding-bottom: 10px;
}

.tres{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tres p{
    padding: 0px 4px;
}
.tres hr{
    border: solid #c8c7c7 2px;
    border-radius: 50%;
    margin: 8px 0px;
    

}
a{
    text-decoration: none;
    font-size: 12px;
    color: #000;
    background-color: #dce4fd;
    padding: 4px 6px;
    border-radius: 8px;

}
.contenedorarriba{
    border-bottom: dashed #a9a9a9  1px;
    padding-bottom: 20px;
}
h2{
    padding-top: 20px;
    font-weight: 500;
    font-size: 25px;
}

.aplicar{
    font-size: 15px;
    background-color: #397df9;
    border:none;
    color:#feffff;
    padding: 15px 0px;
    width: 250px;
    margin-top: 15px;
    border-radius: 12px;
}
/* FINAL DE CAJA UNO */

/* COMIENZO DE CAJA DOS */

/* Le aplico un borde en color rojo a la caja en general para guiarme*/ 

.contenedor-dos{
    border: solid red 2px;
    height: 230px;
    width: 250px;
    border-radius: 18px;
    padding: 13px;
    margin-top: 30px;
    background: linear-gradient(170deg, rgb(255, 255, 255), rgb(255, 255, 255),rgb(255, 255, 255) ,RGB(219 176 216) );

}
/* Ubico la Imagen de cadenas en el centro */

.ImagenCadenas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
h3{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 20px;
    padding-top: 6px;
}
.cuatro{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-align: center;

}
.uneteahora{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    background-color: #000;
    color: white;
    width: 250px;
    padding: 15px 0px;
    border-radius: 12px;
    border: none;
    margin-top: 15px;

}




/* FINAL DE CAJA DOS */